form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 1em;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    span {
      font-weight: bold;
    }
  }

  button {
    align-self: end;
    justify-self: end;
  }
}
