<header>
  <h1>Opticourses v2</h1>
</header>

<div class="wrapper">
  <p-card *ngIf="currentTab === 'form'"
  ><form [formGroup]="form" (ngSubmit)="onProductCreation($event)">
    <label>
      <span>Product</span>
      <input class="p-inputtext-sm" formControlName="product" type="text" pInputText />
    </label>
    <label>
      <span>Brand</span>
      <input class="p-inputtext-sm" formControlName="brand" type="text" pInputText
    /></label>
    <label>
      <span>Detail</span>
      <input class="p-inputtext-sm" formControlName="detail" type="text" pInputText
    /></label>
    <label>
      <span>Shop</span>
      <input class="p-inputtext-sm" formControlName="shop" type="text" pInputText
    /></label>
    <label>
      <span>Volume</span>
      <input class="p-inputtext-sm" formControlName="volume" type="text" pInputText
    /></label>
    <label>
      <span>Price</span>
      <input class="p-inputtext-sm" formControlName="price" type="number" pInputText
    /></label>
    <label>
      <span>Price/kg</span>
      <input class="p-inputtext-sm" formControlName="kgPrice" type="number" pInputText
    /></label>
    <label>
      <span>Picture</span>
      <input class="p-inputtext-sm" formControlName="picture" type="text" pInputText
    /></label>
    <button [disabled]="!form.valid" class="p-button-sm" pButton type="submit">Submit</button>
  </form>
</p-card>

  <p-dataView *ngIf="currentTab === 'list'" [value]="products">
    <ng-template let-product pTemplate="listItem">
      <p-card>
            <div class="product-card">
              <div class="product-picture">
                <img [attr.src]="product.picture" alt="">
              </div>
              <div class="product-data">
                <p class="product-name">{{product.product}} {{product.brand}}</p>
              <p class="product-detail">{{product.detail}}</p>
              <p-tag class="product-shop">{{product.shop}}</p-tag>
              <p class="product-volume">{{product.volume}}</p>
              <p class="product-price"><strong>{{product.price | currency:'EUR' }}</strong> | <em>{{product.kgPrice | currency:'EUR' }}</em></p>
              </div>
            </div>
          </p-card>
        </ng-template>
  </p-dataView>


  <p-table *ngIf="currentTab === 'table'" [loading]="!this.products" sortMode="multiple" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [value]="products" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="product">Product</th>
            <th pSortableColumn="brand">Brand</th>
            <th pSortableColumn="detail">Detail</th>
            <th pSortableColumn="shop">Shop</th>
            <th pSortableColumn="volume">Volume</th>
            <th pSortableColumn="price">Price</th>
            <th pSortableColumn="kgPrice">Price/kg</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.product}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.detail}}</td>
            <td>{{product.shop}}</td>
            <td>{{product.volume}}</td>
            <td>{{product.price | currency:'EUR' }}</td>
            <td>{{product.kgPrice | currency:'EUR' }}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-sm p-button-text p-button-success mr-2" (click)="editProduct(product.id)"></button>
              <button pButton pRipple icon="pi pi-clone" class="p-button-sm p-button-text p-button-info" (click)="addItem(product)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-text p-button-warning" (click)="removeItem(product.id)"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>



</div>

<nav id="navbar">
  <ul>
    <li><button [class]="{ activeTab: currentTab === 'form' }" (click)="currentTab = 'form'"><i class="pi pi-plus"></i><span>New</span></button></li>
    <li><button [class]="{ activeTab: currentTab === 'list' }" (click)="currentTab = 'list'"><i class="pi pi-list"></i><span>List</span></button></li>
    <li><button [class]="{ activeTab: currentTab === 'table' }" (click)="currentTab = 'table'"><i class="pi pi-table"></i><span>Table</span></button></li>
  </ul>
</nav>
