header {
  display: flex;
  padding: .75em;
  background-color: #222;
  color: #fff;

  h1 {
    font-weight: 400;
    font-size: 1.25rem;
  }
}

.wrapper {
  background-color: var(--yellow-100);
  padding: 1em;
  min-height: calc(100vh - 3.75em);
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: 1em;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    span {
      font-weight: bold;
    }
  }

  button {
    align-self: end;
    justify-self: end;
    grid-column: 1 / -1;
  }
}

.product-card {
  display: flex;

  p {
    margin: 0;
  }

  .product-data {
    padding: .5em;
    flex: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  .product-name {
    font-weight: bold;
    justify-self: start;
    line-height: 1;
    margin-bottom: .25em;
    grid-column: 1;
    grid-row: 1;
  }

  .product-shop {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
  }

  .product-detail {
    line-height: 1;
    font-style: italic;
    grid-column: 1;
    grid-row: 2;
  }

  .product-volume {
    grid-column: 1;
    grid-row: 3;
    align-self: end;
  }

  .product-price {
    justify-self: end;
    grid-column: 2;
    grid-row: 3;
    align-self: end;
  }

  .product-picture {
    grid-column: 1;
    grid-row: 1 / 5;
    width: 7em;
    height: 7em;
    border-right: 1px solid #0002;
    padding: .5em;

    img {
      max-width: 100%;
    }
  }
}

#navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(219, 63%, 95%);
  border-top: 1px solid #0002;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    li {
      flex: 1;
      display: flex;

      button {
        all: unset;
        flex: 1;
        box-shadow: 1px 1px 2px #0005;
        margin: .25em;
        padding: 1em;
        display: flex;
        gap: .5em;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: hsl(219, 99%, 90%);
        }

        &.activeTab {
          background-color: #fff;
          pointer-events: none;
        }
      }
    }

  }
}
