form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 1em;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    span {
      font-weight: bold;
    }
  }

  button {
    align-self: end;
    justify-self: end;
    grid-column: 1 / -1;
  }
}

.product-card {
  display: grid;
  grid-template-columns: auto 1fr 1fr;

  p {
    margin: 0;
  }



  .product-name {
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    line-height: 1;
    margin-bottom: .25em;
  }

  .product-shop {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }

  .product-detail {
    line-height: 1;
    font-style: italic;
  }

  .product-volume {
    grid-column: 2;
    grid-row: 4;
  }

  .product-price {
    grid-column: 2 / 4;
    grid-row: 4;
    justify-self: end;
  }

  .product-picture {
    grid-column: 1;
    grid-row: 1 / 5;
    width: 6em;
    height: 6em;
    margin-right: 1em;
    box-shadow: inset 1px 1px 2px #0004, 1px 1px 1px #0001;
    padding: .5em;

    img {
      max-width: 100%;
    }
  }
}

