* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.p-dataview-content {
  background-color: transparent !important;

  .p-card-body {
    padding: .5em !important;

    .p-card-content {
      padding: 0;
      padding-right: .25em;
    }
  }
}
